<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>

<h1>Edit Student</h1>

<form method="POST">

    {% csrf_token %}

    <p>
        Name:
        <input type="text" name="name" value="{{ student.name }}">
    </p>

    <p>
        Age:
        <input type="number" name="age" value="{{ student.age }}">
    </p>

    <p>
        Email:
        <input type="email" name="email" value="{{ student.email }}">
    </p>

    <p>
        Course:
        <input type="text" name="course" value="{{ student.course }}">
    </p>

    <button type="submit">
        Update Student
    </button>

</form>

</body>
</html>